aiohttp==3.10.10
aiosignal==1.3.2
astroid
async-timeout
attrs
black
charset-normalizer
click
dill
discord.py==2.4.0
flake8
frozenlist
idna
isort
mccabe
multidict
mypy-extensions
packaging
pathspec
platformdirs
pycodestyle
pyflakes
pylint
tomlkit
yarl
