aiohttp
aiosignal
astroid
async-timeout
attrs
black
charset-normalizer
click
dill
discord.py
flake8
frozenlist
idna
isort
mccabe
multidict
mypy-extensions
packaging
pathspec
platformdirs
pycodestyle
pyflakes
pylint
tomlkit
yarl
